<div id="<%= dom_id product %>">
  <p>
    <strong><%= product.name %></strong>
  </p>
  <p class="text-gray-600"><%= product.description %></p>
  <p class="text-gray-600"><%= product.average_rating %></p>
  <p class="text-gray-600"><%= product.feedback_count %></p>
</div>