<div class="container flex flex-col gap-4 p-4">
  <h1 class="font-bold text-3xl">products</h1>

  <%= form_with(url: root_path, method: :get, data: {controller: "search", search_url_value: root_path, turbo_frame: "products", turbo_action: "advance"}) do |form| %>
    <div class="flex space-x-3 items-center">
      <%= form.text_field :query, class: "py-2 px-4 border rounded", placeholder: "Search by product name", data: { action: "input->search#search"} %>

      <%= form.select :rating,
          options_for_select([["All Ratings", ""], "1", "2", "3", "4", "5"], selected: params[:rating]),
          {}, class: "py-2 px-4 border rounded", data: { action: "change->search#search" } %>

      <%= form.submit 'Search', class: "px-4 py-2 bg-green-400 rounded hover:outline" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "products" do %>
    <%= render partial: "products", locals: { products: @products } %>
  <% end %>
</div>